body {
    text-align: left;
    background-color: black;
    color: white;
}
#nav {
    text-align: right;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;

}
.navbox {
    padding-right: 0px;
}
.modalButton {
    padding-left: 0px;
    width: 120px;
}
.container {
    width: 90%;
}
h1 {
    text-align: center;
    
}
h5 {
    text-align: center;
}
#resourcesPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 100px;
}

.signUpForm {
    width: 50%;
    margin: 0 auto;
    
}
#dashboardDropdown {
    text-align: left;
}
#dashboardList {
    text-align: left;
}
#dashboardTracker {
    text-align: left;
}
.divider hr {
	margin-left:auto;
	margin-right:auto;
	width:47%;
}
.left {
	float:left;
}
.right {
    float:right;
}

.face {
    font-size: 6em;
    text-align: center;
    color: rgb(60, 60, 60);

}


.resourceLinks {
    color: red;
    text-align: left;
    color: rgb(60, 60, 60); 

  } 

#brandButton {
    float: left;
    /* background-color: rgb(60, 60, 60); */
    /* color: white; */
}
  
/*Nav bar css*/ 


#brandButton,
#loginButton,
#resourcesButton,
#aboutButton,
#dashButton,
#signUpButton,
#logoutButton {
    color: white;
    border-radius: 25px;
   
    border: 2px solid aquamarine;
    

  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0,0,0); 

  }
  
  /* selected link */
  a:active {
    color: rgb(128,128,128); 

  }

/*about page styling*/

.headshot {
    margin: 50px;


}
#deleteButton {
    color: white !important;

}

#brandButton {
    font-family: 'Rubik Mono One', sans-serif;
    background-color: black;
    color: aquamarine;
    border:none;
    font-size:20px;
}

/* footer CSS   */
footer {
    position: fixed;
    margin-top: 2000px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    opacity: 0.7;
    color: black;
    
 
}


.welcomeMess {
    text-align: center;
}


#dashboardDropdown  {
    text-align: left;
}

#dashboardList {
margin-left:  -100px;
}

.eachCoin {
  
    margin: 10px;
    float: left;
    
    height: 150px;
    background-color: #fff;

    box-shadow: 0px 0px 50px 10px #0ff;
    padding: 20px;
    margin:  30px;
    
}

.coinName {
    color: black;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
}

.coinData,
.coinValue {
    color: black;
    text-align: left;
}

.coinValue {
    color: black;
}

.coinContainer {
    margin:  100px;
}

.coinRow {
    padding: 50px;
}

.coinButton {
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid red;
}

.selectCurrencies {
    color: white;
    border-radius: 25px;
   
    border: 2px solid aquamarine;
    margin: 50px;
}

#deleteButton {
   
  margin-bottom: 20px;  
   background-color: hotpink;
   float: right;
}

select {
    background-color: white;
    padding: 20px;
    width: 300px;
    height:  50px;
    font-family:'Rubik Mono One', sans-serif;
    margin: 0 auto;
    align-content: center;
}

ul
  {
    width: 60em;
    list-style-type: none;
  }

  li{
      border: solid 1px white;
      border-radius: 25px;
      padding-left: 20px;
      padding-right: 10px;
      padding-top: 20px;
      margin: 10px;
      font-size: 20px;
      line-height: -5px;
      

  }

  ul li
  {
    float: left;
    width: 10em;
  } 

  br
  {
    clear: left;
  }

  div.wrapper
  {
    margin-bottom: 1em;
    margin-right: -25px;
  }

  .selectBox {
      margin: 0 auto;
      margin-left: 300px;
  }

 h6 {
      text-align: center;
      width: 500px;
      margin: 0 auto;
  }